  <% include ../partials/Head %>
  <!-- navigation -->
      <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0px;">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brands</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Register</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    <!-- /navigation -->
    <!-- corrousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="https://www.triplogic.io/images/banner.png" style="width:100%" alt="...">
          </div>
          <div class="item">
            <img src="https://www.triplogic.io/images/banner-yap-1360x450.jpg" style="width:100%" alt="...">
          </div>
          <div class="item">
              <img src="https://www.triplogic.io/images/banner-web-new.jpg" style="width:100%" alt="...">
          </div>  
        </div>
      </div>
      <center>
        <div id="sectionPanel">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="panel">
                    <div class="panel-body">
                      <h1>Hello World</h1>
                    </div>
                  </div>
            </div>
            <div class="col-xs-3"></div>
          </div>
        </div>
      </center>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>